@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bgColor: #14151e;
  --secondary-bg: #26262e;
  --red-color: #ed4141;
  --yellow-color: #ffe117;
  --green-color: #52d25f;
  --blue-color: #41b9ed;
  --light-gray-color: #d1d1d1;
  --footer-height: auto;
}


